* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0; 
  padding: 0;
}

:root {
  --green: #1B2431;
  --yellow: #F5BF03;
  --darkgreen: #1B2431;
  --lightgreen: #1B2431;
  --lightyellow: #F5BF03;
}

body.page-split {
  background-color: var(--yellow);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
  color: white;
  animation: fadein 2s; 
  cursor: pointer;
}

body.page-split p {
  color: var(--lightgreen); 
}

.split {
  width: 100vw;
  height: 100vh;
  display: flex; 
}

  @media (max-width:800px){
    .split {
      height: auto;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
        } 
      }

  .split .home {
    width: 50%;
    height: 100vh;
    background-color:  var(--green);
    box-shadow: 12px 12px 23px #cea003;
  }

    @media (max-width:800px){
      .split .home {
        height: 100vh;
        width: 100%; 
      } 
    }

.home__text {
  font-family: 'Poppins', Sans-Serif;
  text-align: center;
  margin: 5vh 3vw 10vh 3vw;
}

@media (max-width:800px){
  .home__text{
    margin: 2vh 6vw 10vh 6vw;
  }
}

#text {
  color: var(--lightyellow);
  font-weight: 700;
  letter-spacing: .7px;
  opacity: .9;
  line-height: 1.5;
  font-size: 15pt;
}

#text a{
  cursor: pointer;
  border-bottom: 1px solid var(--lightyellow);
  transition: .3s all ease-in-out;
}

#text a:hover{
  background-color: var(--yellow);
  color: var(--green);
}

  .split .split__content {
    width: 50%;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: auto;
   }

    @media (max-width:800px) {
      .split .split__content {
        width: 100%;
        height: auto; 
        }
         }

    .split .split__content .split__center {
      padding: 80px;
      max-width: 640px;
      margin-top: auto;
      margin-bottom: auto; 
    }
      @media (max-width:1200px){
        .split .split__content .split__center {
          padding: 60px; 
          }
           }

      @media (max-width:800px){
        .split .split__content .split__center {
          padding: 40px; 
          }
           }

     }    

.split__intro {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -2px; 
} 

  .split__intro h1{
    font-weight: 600;
    font-family: 'Abril Fatface', Cursive;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 40px;
    letter-spacing: .4px;
    color: var(--darkgreen); 
  }


  .split__intro .split__intro--title {
    font-family: 'Abril Fatface', Cursive;
    font-size: 48px;
    letter-spacing: .4px;
    color: var(--darkgreen); 
  }

  .split__intro .split__intro--title:hover{
    color: transparent;
    -webkit-text-stroke: 2px var(--darkgreen);
  }

.split__bio {
  padding: 30px 0 40px 0;
  font-family:'Poppins', Sans-Serif;
  
}

  @media (max-width:1200px){
    .split__bio {
      padding: 30px 0; 
      }
       }

  @media (max-width:800px){
    .split__bio {
      padding: 20px 0; 
      }
       }

 .split__bio a{
    color: var(--lightgreen);
    border-bottom: 1px solid var(--lightgreen);
    transition: .2s all ease-in-out;
  }

  .split__bio a:hover {
    background-color: var(--green);
      
  } 
/*
mark{
  background-color: var(--green);
  padding:0.1em 0.2em;
}
*/
  .split__credit { 
    padding-top: 70px;
    font-size: 14px;
    line-height: 10px;
    font-family: 'Poppins', Sans-Serif; 
    color: var(--darkgreen); 
  }

.home__img {
  margin: 120px auto 40px 30vw;
  margin: 120px calc(50% - 75px) 40px calc(50% - 75px); 
  width: 170px;
}


@media screen only (max-width:1600px){
  .home__img{
  margin-top: 170px;
  width: 180px;
  }
}

@media (max-width:800px){
  .home__img{
  margin-top: 110px;
  }
}

.home__container {
  text-align: center;
  font-size: 1.4em;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 960px;  /* compatibility large screen fallback */
  margin: auto;
}

@media (max-width:1600px){
  .home__container{
    padding-top: 16px;
  }
}

@media (max-width: 800px){
  .home__container{
    padding-top: 14px;
  }
}

.home__links {
  display: inline;
  letter-spacing: 7px;
  border-radius: 1em;
  transition: .2s ease;
}

a {
  text-decoration: none;
  color: var(--lightyellow);
  text-align: center;
}

a:hover{
  color: #fcd060;
}

h2{
    font-weight: bold;
    font-family: 'Abril Fatface', Cursive;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 11px;
    margin-top: 20px;
    color: var(--lightgreen);
    letter-spacing: 2px; 
}

.grid{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.flex__grid {
  height: 150px;
  margin: 2%;
 border-radius: 15px;
background: #F5BF03;
box-shadow:  8px 8px 13px #e1b003, 
             -8px -8px 13px #ffce03;
 }

 .flex__grid:hover{
   box-shadow: none;
   transition: .4s all ease-in-out;
 }

.split__projects {
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-align: center;
  align-items: center;
  padding: 10% 0 10% 0;
  font-size: 18px;
}

.flex__grid--item {
  -webkit-box-flex: 1;
          flex-grow: 1;
      flex-basis: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  cursor: pointer;
}

.flex__grid--item a{
   color: var(--darkgreen);
   font-weight: 400;
   font-family: 'Poppins', Sans-Serif;
}

.split__info{
  padding-top: 18px;
}

.split__info li{
  font-family: 'Poppins', Sans-Serif;
  height: 32px;
  line-height: 28px;
  font-size: 14px;
  color: var(--darkgreen);
}

.split__info li:nth-child(1)::selection {
  color: var(--yellow);
  background-color: var(--green);
  text-shadow: .5px .5px #ccc;
}


.split__info li:nth-child(2) a{
  color: var(--lightgreen);
}

.split__info li:nth-child(2) a:hover{
  font-weight: bold;
}

.split__info li .split__social{
   display: inline;
  padding-left: .5vw;
  padding-right: .5vw;
  transition: .2s ease;
  font-size: 22px;
}

ul{
  list-style: none;
}

.split__social a{
  color: var(--darkbgreen);
}

.split__social a:hover{
  color: var(--lightgreen);
}
