

* {
  margin: 0;
  padding: 0;  box-sizing: border-box;
}

*:before, *:after { box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

section, summary {
 display: block;
}

mark {
  color: white;
  background: #52524E;
}

html, body {
  background: #191654;
  font: 100% Helvetica, sans-serif;
}

h1 { 
  font-size: 24px; 
}

.s3d__side {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.s3d__side.active h1 { left: -1%; }

.s3d__side:nth-child(1) {  background: linear-gradient(to top, #43c6ac, #191654); }

.s3d__side:nth-child(2) {  background: linear-gradient(to bottom, #43c6ac, #191654); }

.s3d__side:nth-child(3) {  background: linear-gradient(to top, #43c6ac, #191654); }

.s3d__side h1 {
  display: inline-block;
  position: absolute;
  left: -100%;
  bottom: 5%;
  padding: .2% 1.5% .2% 2.5%;
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  color: #CFE0F9;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
  border-radius: 1px;
  -webkit-transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1.05);
  transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

a {
  text-decoration: none;
  color: #191654;
  text-align: center;
}

a:hover{
  color: #0d0d30;
}

.anchor-clear {
  display: block;
  height: 50px;
  margin-top: -10px;
  visibility: hidden;
}

.home-img {
  margin: 80px auto 40px 30vw; /*fallback for no calc support*/
  margin: 80px calc(50% - 75px) 40px calc(50% - 75px);  /*depending on header height*/
  width: 150px;
  border-radius: 60%;
}

.home-links-container {
  text-align: center;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 10px;
  max-width: 960px;  /* compatibility large screen fallback */
  margin: auto;
}
.home-links {
  display: inline;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 1em;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}


.blurb {
  text-align: center;
  font-size: 18px;
  margin: 5vh 3vw 10vh 3vw;
}

#handle {
  color: #CFE0F9;
  opacity: .9;
  line-height: 1.1;
  padding-top: 1%;
  font-family: 'Muli', Sans-Serif;
  font-size: 24px;
}

/*-------------glitch text---------------*/

.glitch{
    max-width: 800px;
    margin: auto;
    color: #CFE0F9;
    opacity: .9;
    font-family: 'Muli', Sans-Serif;
    font-size: 44px;
    cursor: pointer;
}

.glitch:hover{
   animation: glitch 0.6s infinite;
}

@keyframes glitch{
  from{
    text-shadow: 0 0px 0px white;
  }
  20%
    {text-shadow: 2px -2px 0px #870916;}
  40%
    {text-shadow: -2px 2px 0px #40BBA7;}
  60%
    {text-shadow: 2px 2px 0px #191654;}
  80%
    {text-shadow: -2px -2px 0px #40BBA7;}
  to
    {text-shadow: 0px 0px 0px white;}
  }

/* --------------- home END --------------- */

/* ---------------ABOUT -------------------------*/

.about-me {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  font-size: 24px;
  padding: 4% 2%;
  color:#CFE0F9;
  opacity: .9;
  height: 400px;
  width: 800px;
  font-family: 'Muli', Sans-Serif;
  border: 1px solid #CFE0F9;
  border-radius: 5px;
}

span{
  color: white;
  font-style: italic;
  font-size: 18px;
  cursor: pointer;
  padding: 35px;
}


/*about link button*/
.about-background-container {
  text-align: center;
  padding-top: 80px;
}

.about-background-link {
  font-size: 24px;
  font-weight: 700;
  color: #CFE0F9;
  padding: 8px 20px;
  border: 1px solid #CFE0F9;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.about-background-link:hover {
  color: #CFE0F9;
  border-radius: 10px;
  border: 3px solid #CFE0F9;
}
 /*----------------PROJECTS -------------*/

.flex-grid{
  display: flex;
  flex-wrap: wrap;
}


.projects{
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  padding-top: 12%;
}

.flex-grid-item:hover{
   position: relative;
    top: -3px;
    left: -3px;
    box-shadow: .5px .5px .5px #191654;
    
}


.flex-grid-item {
  flex-grow: 1;
  flex-basis: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px #191654;
  cursor: pointer;
}


 .first, 
 .second, 
 .third, 
 .forth,
 .fifth,
 .sixth {
  height: 150px;
  border: 1px solid #CFE0F9;
  border-radius: 10px;
  margin: 2%;
 }

.flex-grid-item:nth-child(1)  {background-color: #001f3f;}
.flex-grid-item:nth-child(2)  {background-color: #0074D9;}
.flex-grid-item:nth-child(3)  {background-color: #7FDBFF;}
.flex-grid-item:nth-child(4)  {background-color: #39CCCC;}
.flex-grid-item:nth-child(5)  {background-color: #3D9970;}
.flex-grid-item:nth-child(6)  {background-color: #001f3f;}


